@font-face {
  font-family: harry-potter-fancy;
  src: url(HarryPotter-ov4z.ttf);
}

@font-face {
  font-family: harry-potter;
  src: url(WizardWorldSimplified-Kxr7.ttf);
}

html,
body {
  font-family: harry-potter;
  height: 100vh;
}

#search-bar.show {
  display: block;
}

#navbar.show {
  display: block;
}
