{% import 'macros.html' as macros %}

{% extends "layout.html" %}

{% block title %}
  Add Recipe
{% endblock %}

{% block main %}
<div class="m-auto block p-6 rounded-lg shadow-lg bg-white max-w-2xl">
  <h1 class="text-2xl text-center">Add a recipe</h1>
  <form action="/recipes/new" class="mt-4" method="POST">
    <div class="form-group mb-6">
      {{ macros.inputWithLabel(name="title", value=title, label="Title:") }}
    </div>
    <div class="form-group mb-6">
      {{ macros.inputWithLabel(name="prep_time", type="number", min="0", value=prep_time, label="Preparation time (minute):") }}
    </div>
    <div class="form-group mb-6">
      {{ macros.inputWithLabel(name="cooking_time", type="number", min="0", value=cooking_time, label="Cooking time (minute):") }}
    </div>
    <div>
    <div class="form-group mb-6">
      <div class="mt-4">
        <div class="mt-4 grid grid-cols-1">
          {{ macros.button(text="Add ingredient", type="button", onclick="handleOnAddBtnClick()") }}
        </div>
      </div>
      <div id="measurements">
        {% for ingredient in ingredient_list %}
          <div class="grid gap-2 grid-cols-[auto_7rem_5rem_3rem] mt-4">
            {{ macros.input(name="ingredient", type="text", value=ingredient['name'], placeholder="Ingredient") }}
            {{ macros.input(name="amount", type="number", min="0.01", step="0.01", value=ingredient['amount'], placeholder="Amount") }}
            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="measurement" selected="{{ ingredient['measurement'] }}">
              <option value="cl">cl</option>
              <option value="cup">cup</option>
              <option value="dkg">dkg</option>
              <option value="dl">dl</option>
              <option value="fl">fl</option>
              <option value="g">g</option>
              <option value="gal">gal</option>
              <option value="kg">kg</option>
              <option value="l">l</option>
              <option value="large">large</option>
              <option value="lb">lb</option>
              <option value="medium">medium</option>
              <option value="mg">mg</option>
              <option value="ml">ml</option>
              <option value="oz">oz</option>
              <option value="package">package</option>
              <option value="pt">pt</option>
              <option value="qt">qt</option>
              <option value="small">small</option>
              <option value="t">t</option>
              <option value="tbs">tbs</option>
              <option value="tsp">tsp</option>
            </select>
            {{ macros.button(text="X", type="button", onclick="handleOnRemoveBtnClick(event)") }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-group mb-6">
      {{ macros.textareaWithLabel(name="description", rows="10", placeholder="Description of the recipe", label="Description:", value=description) }}
    </div>
    <div class="mt-4 grid grid-cols-1">
      {{ macros.button(text="Add Recipe") }}
    </div>
  </form>
</div>

<script src="/static/recipe.js" type="application/javascript"></script>
{% endblock %}

