{% extends "layout.html" %}

{% block title %}
  Rusty Cauldron
{% endblock %}

{% block main %}
  <div class="mx-4 block p-6 rounded-lg shadow-lg bg-white">
    <p class="text-2xl text-center">
      Welcome to the Rusty Cauldron, the ultimate recipe website for food enthusiasts!
    </p>
    <img class="block w-full max-w-[16rem] mx-auto" src="/static/rusty-cauldron.png" alt="rusty cauldron" />
    <p class="mt-4 text-xl text-center">
      We are thrilled to have you here and can't wait for you to explore our collection of delicious and easy-to-follow recipes.
    </p>
    <p class="mt-4 text-xl text-center">
      At Rusty Cauldron, we are passionate about sharing our love for food and cooking with our community. Whether you are an experienced chef or a novice in the kitchen, we have something for everyone. From classic comfort food to exotic cuisine, our recipes are carefully curated and tested to ensure that they turn out perfectly every time.
    </p>
    <p class="mt-4 text-xl text-center">
      We also understand the importance of cooking with fresh and healthy ingredients. That's why our recipes emphasize the use of natural and wholesome ingredients, so you can enjoy not only the taste but also the health benefits of our dishes.
    </p>
    <p class="mt-4 text-xl text-center">
      So, whether you're looking for a quick weeknight meal or a show-stopping dish for your next dinner party, Rusty Cauldron has got you covered. So, roll up your sleeves, put on your apron, and let's get cooking!
    </p>
  </div>
{% endblock %}
