{% import 'macros.html' as macros %}

{% extends "layout.html" %}

{% block title %}
  Recipe
{% endblock %}

{% block main %}
<div class="m-auto block p-6 rounded-lg shadow-lg bg-white max-w-2xl">
  <h1 class="text-2xl text-center">{{ recipe.title }}</h1>
  {% if current_user.get_id() == recipe._id %}
    <div class="mt-4">
      <div class="grid grid-cols-2 justify-center">
        <span class="block text-sm">Preparation time: {{ recipe.prep_time }} minute(s)</span>
        <span class="block text-right text-sm">Cooking Time: {{ recipe.cooking_time }} minute(s)</span>
      </div>
      <div class='mt-4'>
        <h3 class="text-xl">Ingredients:</h3>
        <ul class="flex flex-wrap mt-1">
          {% for ingredient in ingredient_list %}
            <li class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ ingredient.amount }} {{ ingredient.measurement }} {{ ingredient.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class='mt-4'>
        <div class="text-xl">Description:</div>
        <p class="mt-1 text-gray-700 text-base">
          {{ recipe.description }}
        </p>
      </div>
      <div class="grid grid-cols-2 justify-center mt-4 text-xs text-gray-900">
        <span class="block">Created At: {{ recipe.created_at|format_string_date }}</span>
        <span class="block text-right">Updated At: {{ recipe.updated_at|format_string_date }}</span>
      </div>
    </div>
  {% else %}
    <h1 class="text-2xl text-center">Recipe</h1>
    <form id="update" action="/recipes/{{ recipe._id }}/update" class="mt-4" method="POST">
      <input type="hidden" value="{{ recipe.user_id }}" name="owner_user_id" />
      <div class="form-group mb-6">
        {% if current_user.get_id() == recipe._id %}
          <h3 class="font-bold text-3xl mb-2 text-center">{{ recipe.title }}</h3>
        {% else %}
          {{ macros.inputWithLabel(name="title", value=recipe.title, label="Title:") }}
        {% endif %}
      </div>
      <div class="form-group mb-6">
        {{ macros.inputWithLabel(name="prep_time", type="number", min="0", value=recipe.prep_time, label="Preparation time (minute):") }}
      </div>
      <div class="form-group mb-6">
        {{ macros.inputWithLabel(name="cooking_time", type="number", min="0", value=recipe.cooking_time, label="Cooking time (minute):") }}
      </div>
      <div>
      <div class="form-group mb-6">
        <div class="mt-4 grid grid-cols-1">
          {{ macros.button(text="Add ingredient", type="button", onclick="handleOnAddBtnClick()") }}
        </div>
        <div id="measurements">
          {% for ingredient in ingredient_list %}
            <div class="grid gap-2 grid-cols-[auto_7rem_5rem_3rem] mt-4">
              {{ macros.input(name="ingredient", type="text", value=ingredient['name'], placeholder="Ingredient") }}
              {{ macros.input(name="amount", type="number", min="0.1", step="0.1", value=ingredient['amount'], placeholder="Amount") }}
              <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="measurement" selected="{{ ingredient['measurement'] }}">
                <option value="cl">cl</option>
                <option value="cup">cup</option>
                <option value="dkg">dkg</option>
                <option value="dl">dl</option>
                <option value="fl">fl</option>
                <option value="g">g</option>
                <option value="gal">gal</option>
                <option value="kg">kg</option>
                <option value="l">l</option>
                <option value="large">large</option>
                <option value="lb">lb</option>
                <option value="medium">medium</option>
                <option value="mg">mg</option>
                <option value="ml">ml</option>
                <option value="oz">oz</option>
                <option value="package">package</option>
                <option value="pt">pt</option>
                <option value="qt">qt</option>
                <option value="small">small</option>
                <option value="t">t</option>
                <option value="tbs">tbs</option>
                <option value="tsp">tsp</option>
              </select>
              {{ macros.button(text="X", type="button", onclick="handleOnRemoveBtnClick(event)") }}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-group mb-6">
        {{ macros.textareaWithLabel(name="description", rows="10", placeholder="Description of the recipe", label="Description:", value=recipe.description) }}
      </div>
    </form>
    <div>
      <div class="mt-4 grid grid-cols-1">
        {{ macros.button(text="Update Recipe", form="update") }}
      </div>
      <form id="delete" action="/recipes/{{ recipe._id }}/delete" class="mt-4 grid grid-cols-1" method="POST">
        <input type="hidden" value="{{ recipe.user_id }}" name="owner_user_id" />
        {{ macros.button(text="Delete Recipe", form="delete") }}
      </form>
    {% endif %}
  </div>
</div>

<script src="/static/recipe.js" type="application/javascript"></script>
{% endblock %}

