{% import 'macros.html' as macros %}

{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block main %}
<div class="m-auto block p-6 rounded-lg shadow-lg bg-white max-w-md">
  <h1 class="text-2xl text-center">Login</h1>
  <form action="/login" class="mt-4" method="POST">
    <div class="form-group mb-6">
      {{ macros.input(name="email", value=form_data['email'], placeholder="Email address") }}
    </div>
    <div class="form-group mb-6">
      {{ macros.input(name="password", value=form_data['password'], type="password", placeholder="Password") }}
    </div>
    <div class="grid grid-cols-1">
      {{ macros.button(text="Login") }}
    </div>
  </form>
</div>
{% endblock %}
