{% import 'macros.html' as macros %}
{% load custom_filters %}

{% extends "layout.html" %}

{% block title %}
  My Recipes
{% endblock %}


{% block main %}
<section class="px-4">
  <h1 class='text-3xl text-center'>Recipes</h1>
  <div>
    <form id="recipes_form" class="grid grid-rows-2 grid-cols-1 sm:grid-cols-[minmax(0,_1fr)_minmax(0,_1fr)_auto_minmax(0,_1fr)] gap-4" method="get" action="/my-recipes">
      <div class="flex flex-col justify-end">
        {{ macros.inputWithLabel(name="title", value=title, label="Title:") }}
      </div>
      <div class="flex flex-col justify-end">
        {{ macros.inputWithLabel(name="ingredients", value=ingredients, label="Ingredients:") }}
      </div>
      <div class="flex flex-col justify-end">
        {{ macros.label(for="per_page", label="Page size:") }}
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 sm:max-w-[5rem]" name="per_page">
          <option value="10" {% if per_page==10 %} selected="selected"{% endif %}>10</option>
          <option value="15" {% if per_page==15 %} selected="selected"{% endif %}>15</option>
          <option value="20" {% if per_page==20 %} selected="selected"{% endif %}>20</option>
        </select>
      </div>
      <div class="flex flex-col justify-end align-start">
        {{ macros.button(text="Search") }}
      </div>
      {{ macros.pagination(
        show_pagination=recipes.pages > 1,
        aria_label="recipe navigation",
        first=recipes.first,
        last=recipes.last,
        total=recipes.total,
        has_prev=recipes.has_prev,
        prev_num=recipes.prev_num,
        iter_pages=recipes.iter_pages,
        current_page=recipes.page,
        has_next=recipes.has_next,
        next_num=recipes.next_num,
      ) }}
    </form>
  </div>
  {% if not recipes.total or recipes|length == 0 %}
    <div class="text-4xl text-center">Couldn't find any recipes :(</div>
  {% else %}
    <ul class="mt-1 grid grid-cols-1 md:grid-cols-3 gap-5">
      {% for recipe in recipes %}
        <a class="cursor-pointer" href="/recipe/{{ recipe.id }}/">
          <li class="flex flex-col gap-4 p-4 rounded shadow-lg">
            <div>
              <h3 class="font-bold text-3xl mb-2 text-center">{{ recipe.title }}</h3>
            </div>
            <div>
              <span class="block text-sm">Preparation time: {{ recipe.prep_time }} minute(s)</span>
              <span class="block text-sm">Cooking Time: {{ recipe.cooking_time }} minute(s)</span>
            </div>
            <div>
              <h3 class="text-xl">Ingredients:</h3>
              <ul class="mt-1">
                {% for ingredient in ingredientsMap[recipe.id] %}
                <li class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ ingredient.amount }} {{ ingredient.measurement }} {{ ingredient.name }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <div class="text-xl">Description:</div>
              <p class="mt-1 text-gray-700 text-base">
                {{ recipe.description }}
              </p>
            </div>
            <div class="mt-auto text-xs text-gray-900">
              <span class="block">Created At: {{ recipe.created_at|format_string_date }}</span>
              <span class="block">Updated At: {{ recipe.updated_at|format_string_date }}</span>
            </div>
          </li>
        </a>
      {% endfor %}
    </ul>
  {% endif %}

  {{ macros.pagination(
    show_pagination=recipes.pages > 1,
    aria_label="recipe navigation",
    first=recipes.first,
    last=recipes.last,
    total=recipes.total,
    has_prev=recipes.has_prev,
    prev_num=recipes.prev_num,
    iter_pages=recipes.iter_pages,
    current_page=recipes.page,
    has_next=recipes.has_next,
    next_num=recipes.next_num,
    form_id="recipes_form",
  ) }}
</section>
{% endblock %}
